html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Allow scrolling */
  box-sizing: border-box;
  font-family: papyrus;
  color: #8911118e;
  background-color: #ccc;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%; /* Ensure the App takes at least the full height */
  box-sizing: border-box;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures h1 stays centered */
  font-size: 1.5rem;
  width: 100%;
  padding: 1%;
  position: relative;
  box-sizing: border-box;  
  color: #8911118e;
  font-weight: bold;
}

.App-header-title {
  flex-grow: 1;
  text-align: center;
  padding: 0 10%;
  white-space: nowrap; /* Prevents wrapping issues */
  overflow: hidden;
}

.App-logo {
  height: 30vmin;
  position: absolute;
  top: 10px;
  left: 10px;
}

.App-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  overflow: auto; /* Allow scrolling */
}

.App-sidebar {
  width: 10%; /* Make the sidebar smaller */
  background-color: #ffff;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
}

.App-main {
  width: 70%; /* Make the main content larger */
  padding: 2%;
  overflow-y: auto;
  box-sizing: border-box;
  flex-grow: 1; /* Allow the main content to grow */
}

.App-right-sidebar {
  width: 20%;
  background-color: #ffff;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

.contact h2 {
  font-size: 1rem; /* Smaller font size for h2 */
  margin: 0;
  color: black;
}

.contact p {
  font-size: small;
  margin: 2px 0 0 0; /* Ensures it stays right below h2 */
  color: black;
}

.App-header-video {
  margin-top: 20px;
  width: 100%;
}

.App-header-video video {
  width: 100%;
  height: auto;
}

.about {
  text-align: center;
  max-width: 90%;
  margin: auto;
  font-size: 1rem;
}

.about p, .about li {
  color: black;
  font-size: 1rem;
}

.keywords, .sidebar {
  color: #8911118e;
  font-weight: bold;
}

.sidebar {
  background-color: #ffff;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1%;
  background: #5a5a5c;
  color: white;
  box-sizing: border-box;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .App-content {
    flex-direction: column;
  }

  .App-sidebar {
    width: 20%; /* Make the sidebar smaller */
    height: 10%;
  }

  .App-main {
    width: 100%; /* Make the main content larger */
    flex-grow: 1; /* Allow the main content to grow */;
    height: 60%;
  }

  .App-right-sidebar {
    width: 100%;
    border-left: none;
    height: 40%;
  }

  .App-header-title {
    padding: 0 5%;
    white-space: normal; /* Allow text to wrap */
  }

  .App-logo {
    height: 20vmin;
    position: static; /* Remove absolute positioning */
    margin: 0 auto; /* Center the logo */
  }

  .App-header-title h1 {
    font-size: 1.2rem; /* Adjust font size for h1 on mobile */
  }

  .App-header-title p {
    font-size: 0.9rem; /* Adjust font size for paragraph on mobile */
  }
}